
.head-close{
  display: flex;
justify-content: end;
width: 100%;
}
.head-six{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh; 
  min-height: 100dvh;  
  margin: auto;
  overflow-y: hidden;
}
.container-six{
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  background-color: #891515;
  background-image: url('../pagefive/logo\ gia.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 85% ; 
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: hidden;

}
.close{
   position: relative;
  right: 35px;
   top: 35px;
}
  .game-container {
    padding: 20px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'CinemaFont';
  }
  
  
  
  .timer-circle {
    position: relative;
    width: 213px;
    height: 213px;
    margin: 0 auto;
  }
  
  .timer-circle svg {
    transform: rotate(-90deg);
  }
  
  .timer-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
  }
  
  .buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   position: relative;
   top: 20px;
  }
  
.btn.pause{
  width: 147px;
  height: 43px;
  background-color: #FFB800;
        color: white;
        font-size: 25px;
        border: none;
        cursor: pointer;
  font-weight: bold;
  font-family: 'CinemaFont';
  border-radius: 15px;
  padding: 5px 0px 10px  0px;

}

  .btn.reset{
    width: 147px;
  height: 43px;
  background-color: transparent;
  border: 2px #FFB800 solid;
        color: white;
        font-size: 25px;
        cursor: pointer;
  font-weight: bold;
  font-family: 'CinemaFont';
  border-radius: 15px;
  padding: 0px 0px 5px  0px;

  }


  
 .game-over{
  position: absolute;
bottom: 0;
width: 100%;
 }
  
  .game-over-btn {
    width: 100%;
    padding: 10px 0px 20px  0px;
    background-color: #FFB800;
          color: white;
          font-size: 40px;
        z-index: 100;
          border: none;
          cursor: pointer;
    font-weight: bold;
    font-family: 'CinemaFont';
  }
.h-text-head{
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'CinemaFont';
}