@font-face {
  font-family: 'CinemaFont';
  src: url('/Cinema\ Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.head-four{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  margin: 0px auto;

 }
 .container-four{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #891515;
  background-image: url('../pagefive/logo\ gia.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 85% ; 
  background-repeat: no-repeat;
  background-position: bottom;

}
.head-bc{
    display: flex;
justify-content: space-between;
}
.back{
  position: relative;
  left: 35px;
  top: 35px;
}
.close-cross{
    position: relative;
    right: 35px;
    top: 35px;
}
.eye-small{
    position: relative;
    height: 61px;
    width: 114px;
}

    .player-container{

display: flex;
flex-direction: row-reverse;
position: relative;
top: 10%;
    }
      .player-list {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
flex-wrap: wrap;
      }
      
      .add-player-icon {
      
        cursor: pointer;
        object-fit: contain;
  

      }
      
  
      
      .player-card {
        position: relative;
        
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
background-color: transparent;
      }
      
      .player-card .remove-btn {
        position: absolute;
     right: 57px;
        bottom: 85px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      .span-text{
display: flex;
flex-direction: row-reverse;
position: relative;
top: 10%;

      }
  .h-one{
font-weight: bold;
color: white;
font-family: 'CinemaFont';

  }
  .player-count {
    position: absolute;
    right: 310px; 
    top: 25px;
    color: #FFB800; 
    border-radius: 10px;
    padding: 5px 10px; 
    font-size: 16px; 
    font-weight: bold; 

  }
  .hr{
    height: 1px;
  margin: 0px 50px 0px 50px ;
    background-color:  #ffb7003e;
    position: relative;
    
  }
          
      
  #span-text{
position: relative;
     } 
    #player-container{
        position: relative;

    } 
    #hr{

        top: 110px;
    }


  

.modal-one {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.806);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
  }
  
 .modal-content {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    z-index: 10000;
  }
  
  .close-modal {
    position: absolute;
bottom: 170px;  
  right: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  

  
  .modal-content button {
    padding: 10px 20px;
    background-color: #FFB800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   font-weight: bold;
   font-family: 'CinemaFont';

  }
  
 
  .btn-span{
    display: flex;
    justify-content: center;
    position: relative;
 top: 45px;
  }

  
 
  
  .container-div{display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 10%;
  }
    /*.iconzrb{
        position: absolute;
        right: 57px;
           
           cursor: pointer;
           width: 20px;
           height: 20px;
           display: flex;
           justify-content: center;
           align-items: center;
           z-index: 100;

    }*/
    .bold-span{
    color: #FFB800;
    display: flex;
    justify-content: center;
    font-weight: bold;
    position: relative;
    top: 20px;
    font-family: 'CinemaFont';

    }
   
    #hr-div{
         position: relative;
         top: 120px;
    }
    .role-one{
  display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      position: relative;
      top: 10%;
    }
    #player-count{
  position: absolute;
  right: 262px;
    }
    .role-one img{
      width: 154px;
      height: 55px;
    }
    #p-head{
      position: relative;
      top: 115px;
    }
    .but-div-one{
   position: absolute;
   bottom: 0;
     width: 100%;
   }
    .but-top{
width: 100%;
padding: 10px 0px 20px  0px;
background-color: #FFB800;
      color: white;
      font-size: 40px;
    z-index: 100;
      border: none;
      cursor: pointer;
font-weight: bold;
font-family: 'CinemaFont';

    }


  @media (max-width:480px) {
  
    
    .container-four{
      align-items: end;
      overflow-x: scroll;

    }

    .span-text{
position: relative;
right: 10%;
    }
    .role-one{
right: 10%;
      position: relative;
    }
    .eye-small{
      position: relative;
      right: 35%;
    }
   
    .but-div-one{
      position: absolute;
      bottom: 0;
    }
    .player-container{
      position: relative;
     right: 10%;
    }
    .container-div{
      position: relative;
      right: 10%;
    }
    .player-count{
      position: relative;
      right: 37%;
   }
  
  }