@font-face {
    font-family: 'CinemaFont';
    src: url('/Cinema\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body{
    overflow: hidden;

  }

  .head-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh; 
    min-height: 100dvh;  
    margin: 0px auto;

} 




.container-two {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background-color: #891515;
    background-image: url('../Pictures/Group 2 (1).png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100% 50% ; 
    background-repeat: no-repeat;
    background-position: bottom;
}

.eye-logo1{

    position: relative;
   margin-top: 70px;
}
.text-logo1{

    position: relative;
  margin-top: 50px;
   
}
.Plant-png-one1{
 position: relative;


}
.btn-head-home{
    position: absolute;
    bottom: 5%;
    width: 90%;
display: flex;
flex-direction: column;
gap: 10px;
}
.but-one1{
    width: 100%;
    padding: 10px 0px 20px  0px;

    position: relative;

    color: white;
    background-color: transparent;
    border: 2px #FFB800 solid;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'CinemaFont'; 
    cursor: pointer;
}
.but-tow1{
    width: 100%;
   padding: 10px 0px 20px  0px;
    background-color: #FFB800;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    position: relative;
    z-index: 100;
    border: none;
    font-family: 'CinemaFont'; 
        cursor: pointer;
    
}

  