@font-face {
    font-family: 'CinemaFont';
    src: url('/Cinema\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.head-three{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  min-height: 100vh;  
 
  margin: auto;
 }
 .container-three{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #891515;
  background-image: url('../pagefive/logo\ gia.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 85% ; 
  background-repeat: no-repeat;
  background-position: bottom;
}

   
   .head-bc{
    display: flex;
justify-content: space-between;
width: 100%;
}
.back{
   position: relative;
   left: 35px;
   top: 35px;
}
.close-one{
    position: relative;
   right: 35px;
    top: 35px;
}
.bold{
    font-size: 40px;
  position: relative;
 top: 50px;
    color: white;
    font-weight: bold;
    font-family: 'CinemaFont';
}

 
  
  .word-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid transparent; 
    font-family: 'CinemaFont';
 
  }
  
  .word-button.active {
    border-bottom: 2px #FFB800  solid; 
  }
  .button-group{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
  width: 100%;
    z-index: 100;
  }
.description{
display: flex;
 position: relative;
    z-index: 100;
justify-content: center;
width: 100%;
}
  .text{
    color: white;
    font-size: 13px;
    font-weight: bold;
    overflow: scroll;
max-height: 320px;
display: flex;
flex-direction: column;
width: 100%;
position: relative;
direction: rtl;
}
  .text-one{
    color: white;
    font-weight: bold;
position: relative;
bottom: 20px;
font-family: 'CinemaFont';


  }
  .span-one{

    display: flex;
  }
  .span-yellow{
    color:  #FFB800;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    font-family: 'CinemaFont';
  }
  .line{
    position: relative;
    bottom: 25px;
    line-height: 20px;
  }

.line-span{
  position: relative;
  bottom: 22px;

}

.hr-one{
  height: 1px;
/*margin: 0px 50px 0px 50px ;*/
  background-color:  #ffb7003e;
  position: relative;
  z-index: 1000;
  top: 22%;
  width: 70%;
}
.but{
  width: 100%;
  padding: 10px 0px 20px  0px;
  background-color: #FFB800;
  color: white;
  font-size: 40px;
  border-radius: 15px;
  position: relative;


  z-index: 100;
  border: none;
  font-family: 'CinemaFont';
  cursor: pointer;

}
.but-head-top{
  position: absolute;
  bottom: 5%;
  width: 90%;
display: flex;
flex-direction: column;
gap: 10px;
}
.head-container{
  position: relative;
  width: 100%;
  top: 20%;
}


#yellow-two{
  position: relative;
  bottom: 35px;
 }
#line-span-one{
  position: relative;
 bottom: 40px;
}


@media (max-width: 480px) {
  .head-container{
    position: relative;
    transform: translateY(-30px); 
}
.hr-one{
  position: relative;
  transform: translateY(-30px);
  width: 80%;
}
.description{
  position: relative;
  left: 20px;
}
}