@font-face {
    font-family: 'CinemaFont';
    src: url('/Cinema\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.head{
    display: flex;
    justify-content: center;
 }
 .container{
    background-color: #891515;
    width: 430px;
    height: 932px;
    border-radius: 50px;
    position: relative;
}
.Plant-png{
  position: absolute; 
  bottom: 0px;
  left: 50%; 
  transform: translateX(-50%); 
  border-radius: 50px;
  object-fit: cover;
 
   }
   
   .head-bc{
    display: flex;
justify-content: space-between;
}
.back{
   position: relative;
   left: 35px;
   top: 35px;
}
.close-one{
    position: relative;
   right: 35px;
    top: 35px;
}
.bold{
    font-size: 40px;
    position: relative;
    left: 140px;
    top: 50px;
    color: white;
    font-weight: bold;
    font-family: 'CinemaFont';

}

 
  
  .word-button {
   
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid transparent; 
    font-family: 'CinemaFont';

  }
  
  .word-button.active {
    border-bottom: 2px #FFB800  solid; 
  }
  .button-group{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: relative;
    top: 170px;
    z-index: 100;

  }
.description{
display: flex;
justify-content: end;
text-align: end;
 position: relative;
 right: 50px;
    top: 200px;
    z-index: 100;
}
  .text{
    color: white;
    font-size: 13px;
    font-weight: bold;

  }
  .text-one{
    color: white;
    font-weight: bold;
position: relative;
bottom: 20px;
font-family: 'CinemaFont';

  }
  .span-one{

    display: flex;
    justify-content: end;
  }
  .span-yellow{
    color:  #FFB800;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    font-family: 'CinemaFont';

  }
  .line{
    position: relative;
    bottom: 10px;
    line-height: 20px;
  }
 #yellow{
  position: relative;
  top: 30px;
 }
.line-span{
  position: relative;
  top: 45px;
}

.hr-one{
  height: 1px;
margin: 0px 50px 0px 50px ;
  background-color:  #ffb7003e;
  position: relative;
  top: 600px;
  z-index: 1000;
}
.but{
  width: 330px;
  padding: 10px 0px 20px  0px;
  background-color: #FFB800;
  color: white;
  font-size: 40px;
  border-radius: 15px;
  position: relative;
  left: 50px;
  top: 700px;
  z-index: 100;
  border: none;
  font-family: 'CinemaFont';
  cursor: pointer;

}
.head-container{
  position: relative;
  bottom: 70px;
}