.head{
    display: flex;
    justify-content: center;
 }
 .container{
    background-color: #891515;
    width: 430px;
    height: 932px;
    border-radius: 50px;
    position: relative;
}
.span-oncard{
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
    top: 135px;
}
.head-half{
    position: relative;
    z-index: 1000;
    top: 221px;
}
.half-btn{
    width: 50%;
    height: 70px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'CinemaFont';
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 0px 20px  0px;

}
#color-btnone{
    border-radius: 0px 0px 0px 50px;
    background-color: #FFB800;

}
#color-btntwo{
    background-color: #891517;
    border-radius: 0px 0px 50px 0px;

}
